.container-tables {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    padding: 9px 15px;
    max-width: 1450px;
    overflow-x: auto;
    overflow-y: hidden;
    background-color: #F1F1F1;
    border: 2px solid #D6D6D6;
    border-radius: 12px;
}

.area-header-tables {
    display: flex;
    width: auto;
    height: 33px;
    min-height: 33px;
    padding: 0 10px;
    background-color: #43505A;
    border-radius: 6px;
    color: #ffffff;
    font-weight: bold;
    font-size: 14px;
}

.area-items-tables {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    max-height: 500px;
    padding: 10px 0;
    margin-top: 10px;
    overflow-x: hidden;
}

.area-items-tables::-webkit-scrollbar {
    display: none;
}

.header-item-tables {
    /* background-color: #ff9e9e; */
}


.area-loading-tables {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #a5a5a5;
    position: absolute;
    width: 100%;
    height: 100%;
}