/* Area-Menu-Navbar */
.container-menuinnavbar {
    display: flex;
    align-items: center;
    width: 100%;
    height: 36px;
    margin-bottom: 10px;
    border-radius: 50px;
    padding: 0 6px;
}

.area-menu-active {
    background-color: #193B56;
}

.area-menu-none-active {
    background-color: #fff;
}
/* Icon  */
.area-icon-menuinnavbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    overflow: hidden;
    
    margin-right: 16px;
}

.area-icon-color-active-menunavbar {
    background-color: rgb(255, 255, 255);
}

.area-icon-color-none-active-menunavbar {
    background-color: #193B56;
}

.area-name-menu-menuinnavbar {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: auto;
    max-width: 180px;
    /* background-color: aqua; */
    margin-bottom: 2px;
}

.area-name-color-active-menuinnavbar {
    font-size: 14px;
    color: #ffffff;
    font-weight: bold;
}

.area-name-color-none-active-menuinnavbar {
    font-size: 14px;
    color: #798792;
}

/* React-Router-Dom */
.link-set-default-menuinnavbar {
    text-decoration: none;
    width: auto;
    height: auto;
}

/* Logout Button */
.logout {
    font-size: 14px;
    font-weight: bold;
    color: #E50158;
}

.area-icon-logout-menuinnavbar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #E50158;
    margin-right: 16px;
}
