.admin-title-page {
    margin-top: 297px;
    width: 1200px;
    height: auto;
    padding: 0 50px;
    /* background-color: darkcyan; */
    margin-bottom: 20px;
}

.admin-title-name {
    color: #000000;
    font-size: 18px;
    font-weight: 500;
    /* background-color: cornflowerblue; */
}

.admin-title-description {
    height: 25px;
    display: flex;
    align-items: center;
    color: #8F8F8F;
    font-size: 13px;
    /* background-color: rgb(100, 237, 207); */
}

.admin-title-by-name {
    height: 25px;
    width: auto;
    color: #818181;
    padding-top: 3px;
    font-size: 15px;
    font-weight: 500;
    /* background-color: rgb(237, 178, 100); */
    margin-left: 5px;
}

.box-history-admin {
    width: 866px;
    height: 464px;
    background-color: #F1F1F1;
    border-radius: 12px;
    border: 1.5px solid #D6D6D6;
    padding-top: 9px;
}

.area-history {
    display: flex;
    width: 1200px;
    height: auto;
    padding-left: 50px;
    /* background-color: brown; */
}

.area-type-history-admin {
    width: 300px;
    height: auto;
    /* background-color: chartreuse; */
    margin-left: 50px;
}

.area-title-name-type-history-admin {
    width: auto;
    height: auto;
    /* background-color: crimson; */
    margin-top: 10px;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 10px;
}