.area-bio {
    width: auto;
    min-width: 500px;
    height: auto;
    min-height: 180px;
    /* background-color: blueviolet; */
    margin-top: 20px;
    margin-left: 40px;
}

/* .area-admin-rank {

} */

.box-admin-rank {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    max-width: 134px;
    height: 34px;
    min-width: 103px;
    padding: 0 10px;
    font-size: 15px;
    font-weight: bold;
    color: aliceblue;
    border-radius: 6px;
}

.area-admin-name {
    display: flex;
    align-items: flex-end;
    width: auto;
    height: auto;
    min-height: 50px;
    /* background-color: yellowgreen; */
    padding-bottom: 10px;
}

.admin-name {
    display: flex;
    align-items: flex-end;
    width: auto;
    height: 40px;
    /* color: ; */
    font-size: 30px;
    /* background-color: crimson; */
    margin-right: 20px;
}

.admin-id {
    display: flex;
    align-items: flex-end;
    width: auto;
    height: 40px;
    font-size: 20px;
    font-weight: 400;
    /* background-color: blueviolet; */
    padding-bottom: 3px;
}

.area-admin-bio {
    display: flex;
    width: auto;
    max-width: 600px;
    /* background-color: brown; */
}

.area-admin-row {
    width: auto;
    height: auto;
    min-height: 30px;
    max-height: 40px;
    min-width: 150px;
    /* background-color: darkseagreen; */
    margin-right: 10px;
    /* white-space: nowrap; */
    overflow: hidden;
    text-overflow: ellipsis;
}

.area-admin-row:last-child {
    min-width: 180px;
}

.area-admin-col {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 80px;
    min-width: 250px;
    /* background-color: beige; */
}