.boxhistory-container {
    display: flex;
    align-items: center;
    min-width: 344px;
    height: 122px;
    margin: 8px;
    background-color: #FFFFFF;
    border-radius: 16px;
    cursor:pointer;
}

.boxhistory-container:last-child {
    margin-right: 0;
}