.item-list {
    width: 100%;
    /* height: auto; */
    padding: 10px 5px;
    min-height: 54px;
    background-color: rgb(255, 255, 255);
    margin: 12px 0;
    border-radius: 12px;
}

/* .item-list:first-child {
    margin-top: 0;
} */