.search-container {
    display: flex;
    align-items: center;
    padding: 0 5px;
    width: 322px;
    height: 36px;
    background-color: #FFFFFF;
    border-radius: 50px;
    border: 1.5px solid #C9C9C9;
}

.area-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    width: 26px;
    height: 26px;
    margin-right: 11px;
    border-radius: 50%;
    background-color: #A6A6A6;
}

.input-managesearch {
    font-size: 15px;
    width: 260px;
    height: 25px;
    /* background-color: #A6A6A6; */
    border: none;
    outline: none;
}

::placeholder {
    color: #CCCCCC;
}