.sort-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100%;
    min-height: 32px;
    border: 1.5px solid #C9C9C9;
    border-radius: 6px;
    background-color: #FFFFFF;
    cursor: pointer;
    -webkit-user-select: none;
}

.sort-item-names {
    width: auto;
    height: auto;
    margin: 0 18px;
    font-size: 15px;
    color: #C9C9C9;
}

.sort-icon-area {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100%;
    margin-right: 21px;
}