.sort-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100%;
    min-height: 32px;
    border-radius: 6px;
    cursor: pointer;
    -webkit-user-select: none;
    transition: 1 all;
}

.sort-color-open {
    color: #838383;
    border: 1.5px solid #838383;
    background-color: #FFFFFF;
}

.sort-color-close {
    color: #C9C9C9;
    border: 1.5px solid #C9C9C9;
    background-color: #FFFFFF;
}

.sort-color-close:hover {
    color: #b1b1b1;
    border: 1.5px solid #b1b1b1;
    background-color: #FFFFFF;
}

.sort-item-names {
    width: auto;
    height: auto;
    margin: 0 13px;
    font-size: 15px;
    font-weight: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sort-icon-area {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100%;
    margin-right: 10px;
}