/* .area-title-managepost {
    width: 100%;
    height: auto;
    min-width: 1300px;
    max-width: 1434px;
    min-height: 126px;
    padding-left:16px;
    margin-top: 31px;
    margin-bottom: 44px;
    background-color: brown;
} */

/* .area-title-top {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    background-color: aquamarine;
} */

/* .area-description {
    width: 100%;
    height: auto;
    color: #A7A7A7;
    font-size: 14px;
} */

/* .manage-title-page {
    font-size: 22px;
    font-weight: bold;
} */

/* .area-history-latest {
    width: 100%;
    height: auto;
    min-height: 163px;
    max-width: 1434px;
     background-color: cadetblue;
} */

/* .area-box-history {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
} */