.main-relative {
    position: relative;
    width: auto;
    height: auto;
}

/* Main Point */
.area-slide {
    display: flex;
    width: 277px;
    min-height: auto;
    height: 100%;
    overflow: hidden;
}

.container-menu {
    position:absolute;
    top: 0;
    bottom: 0;
    z-index: 999;
    display: flex;
    width: auto;
    height: 100%;
    background-color: rgba(255, 127, 80, 0.281);
    -webkit-user-select: none;
    white-space: nowrap;
    transition: ease 1000ms;
}

/* Menu Admin */
.menu-admin {
    width: 277px;
    min-width: 277px;
    height: 100vh;
    border-right: 1px solid #D9D9D9;
    background-color: rgb(255, 255, 255);
    /* background-color: aqua; */
}

.menu-switch-open {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    z-index: 999;
    width: 50px;
    height: 50px;
    /* background-color: rgb(23, 147, 255); */
    border-right: 1.8px solid #D9D9D9;
    border-bottom: 1.8px solid #D9D9D9;
    background-color: rgb(255, 255, 255);
    transition: .4s all;
}

.menu-switch-close {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    z-index: 999;
    width: 50px;
    height: 50px;
    /* background-color: rgb(23, 147, 255); */
    /* border-right: 1.8px solid #D9D9D9;
    border-bottom: 1.8px solid #D9D9D9; */
    transition: 1.2s all;
    background-color: #193B56;
}

.menu-switch-open:hover, .menu-switch-close:hover {
    cursor: pointer;
}

.logo-admin {
    width: 100%;
    height: 50px;
    /* background-color: blueviolet; */
    border-bottom: 1px solid #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-title {
    font-weight: bold;
}

/* Top Menu Item */
.top-menu-admin {
    width: 100%;
    height: 684px;
    /* background-color: blue; */
    padding-top: 1px;
}

.text-item,.logo {
    font-size: 13px;
}

.text-item {
    font-size: 13px;
}

.text-item:hover {
    cursor: pointer;
}

.inputs {
    width: 185px;
    height: 34px;
    background-color: #d8d8d800;
    outline: none;
    border: none;
}

.search-admin {
    display: flex;
    align-items: center;
    width: 245px;
    height: 36px;
    border: 2px solid #D8D8D8;
    border-radius: 50px;
    /* background-color: cornflowerblue; */
    padding: 5px 0;
    padding-left: 6px;
    margin-top: 10px;
    margin-left: 16px;
    margin-bottom: 5px;
}

.items-menu {
    display: flex;
    align-items: center;
    width: auto;
    height: auto;
    border-radius: 50px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 15px;
    /* background-color: #193B56; */
}

.image-icon {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    margin-right: 16px;
    background-color: #193B56;
}

/* Bottom Menu Item */
.bottom-menu-admin {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    width: 100%;
    height: 195px;
    padding-bottom: 16px;
    /* background-color: chartreuse; */
}

/* Content Right */
.navbar-admin {
    width: 100vw;
    min-width: 1643px;
}

.navbar-top {
    display: flex;
    align-items: center;
    width: 100%;
    min-width: 1643px;
    max-width: 100%;
    height: 50px;
    padding: 0 20px;
    background-color: #193B56;
}

/* Last Down */
.bg-modal-open{
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    transition: .5s all;
    background-color: rgba(37, 37, 37, 0.521);
}

.bg-modal-close{
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 2;
    width: auto;
    height: 100%;
    transition: .5s all;
    background-color: rgba(37, 37, 37, 0);
}

.bg-modal-transparent {
    display: block;
    width: 100%;
    height: 100%;
    background-color: transparent;
}

.bg-transparent {
    width: auto;
    height: 100%;
    background-color: rgba(165, 42, 42, 0.144);
}