.row-contailer-homepage {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 419px;
    margin: 50px 0;
}

.length-status-container {
    display: flex;
    width: 90px;
    height: 90px;
    font-size: 40px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.label-status-container {
    display: flex;
    width: 200px;
    height: 100%;
    font-size: 25px;
}

.card-status-length-container {
    display: flex;
    align-items: center;
    padding: 19px 25px;
    width: 367px;
    height: 128px;
    transition: all .3s ease;
    border-radius: 12px;
    box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.15);
    background-color: #FFFFFF;
}

.left-container-homepage {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    width: auto;
    margin-right: 16px;
}

.card-status-length-container:hover {
    position: relative;
    z-index: 2;
    transition: all .3s ease;
    box-shadow: 0 0 30px 7px rgba(151, 151, 151, 0.274);
    scale: 1.02;
}

.center-container-homepage {
    display: flex;
    width: 550px;
    height: 419px;
    margin-right: 16px;
    border-radius: 12px;
    box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.15);
    background-color: #FFFFFF;
}

.right-container-homepage {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 419px;
    margin-right: 16px;
    border-radius: 12px;
    box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.15);
    background-color: #FFFFFF;
}

.bottom-container-homepage {
    display: flex;
    width: 100%;
    height: auto;
    background-color: aqua;
}