.container-itemfilterbutton {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    width: 30px;
    height: 30px;
    transition: all .5s ease;
}

.container-itemfilterbutton-active {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    border: 3px solid #344553;
    transition: all .5s ease;
    /* margin-left: 5px; */
}

.edit {
    background-color: #344553;
    border: 3px solid #344553;
    /* margin-left: 5px; */
}

.delete {
    background-color: #FF5A5A;
}

.detail {
    background-color: #FFBE36;
}

.edit:hover, details:hover, .delete:hover {
    filter: brightness(1.5);
    cursor: pointer;
}

.modal-delete-open-itemfilterbutton {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.651);
    transition: all .5s ease;
}

.modal-delete-open-itemfilterbutton button{
    width: 120px;
    height: 37px;
    border-radius: 6px;
    font-size: 15px;
    font-weight: bold;
}

.modal-delete-open-itemfilterbutton button:nth-child(1) {
    background-color: rgba(127, 255, 212, 0);
    border: 3px solid #C9C9C9;
    color: #C9C9C9;
    margin-right: 24px;
}

.modal-delete-open-itemfilterbutton button:nth-child(2) {

    background-color: #FF5A5A;
    color: #fff;
    border: none;
}

.modal-delete-open-itemfilterbutton button:nth-child(1):hover {
    cursor: pointer;
    transition: all .5s ease;
    background-color: #f3f3f39a;
}

.modal-delete-open-itemfilterbutton button:nth-child(2):hover {
    cursor: pointer;
    transition: all .5s ease;
    filter: brightness(1.2);
}

.area-modal-title-itemfilterbutton {
    width: 100%;
    height: auto;
    font-size: 17px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

.area-modal-description-itemfilterbutton {
    width: 100%;
    height: auto;
    min-height: 70px;
    color: #A7A7A7;
    font-size: 16px;
}

.area-modal-button-itemfilterbutton {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: auto;
}

.modal-delete-close-itemfilterbutton {
    opacity: 0;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 0, 0, 0);
    transition: all .4s ease;
}

.area-modal-delete-open-itemfilterbutton {
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 99999;
    width: 500px;
    height: 203px;
    background-color: rgb(255, 255, 255);
    border-radius: 6px;
    transition: all 1.0s ease;
    padding: 22px 33px;
}

.area-modal-delete-close-itemfilterbutton {
    position: relative;
    opacity: 0;
    z-index: 99999;
    transition: all 1.0s ease;
    position: absolute;
    width: 500px;
    height: 203px;
    padding: 22px 33px;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 6px;
}

.modal-backgroup {
    position: absolute;
    z-index: 9999;
    width: 100vw;
    height: 100vh;
}